{% extends 'app.html' %} {# Page Title #} {% block title %}Umart{% endblock %}
{# Custom Code In Head #} {% block header %}{% endblock %} {# Custom Code In
Footer #} {% block head %}{% endblock %} {# Body Class Add #} {% block attribute
%}class="sticky-header"{% endblock %} {% block content %}

<!--=====================================-->
<!--=        Header Area Start       	=-->
<!--=====================================-->
{% include 'header/header-layout1.html' %}
<!--=====================================-->
<!--=        Banner Area Start       	=-->
<!--=====================================-->
{% include 'sections/banner/banner-layout1.html' %}
<!--=====================================-->
<!--=        About Area Start       	=-->
<!--=====================================-->
{% include 'sections/about/about.html' %}

<!--=        Service Area Start       	=-->
<!--=====================================-->
{% include 'sections/service/service.html' %}

<!--=        latest Projects Area Start       	=-->
<!--=====================================-->
{% include 'sections/latestProjects/latestProjects.html' %}

<!--=        Teams Area Start       	=-->
<!--=====================================-->
{% include 'sections/teams/teams.html' %}
<!--=====================================-->
<!--=        Ideas Area Start       	=-->
<!--=====================================-->
{% include 'sections/ideas/ideas.html' %}
<!--=====================================-->
<!--=        Testimonial Area Start       	=-->
<!--=====================================-->
{% include 'sections/testimonial/testimonial.html' %}
<!--=====================================-->
<!--=        Blog Area Start       	=-->
<!--=====================================-->
{% include 'sections/blog/blog.html' %}

<!--=        Market Expert Area Start       	=-->
<!--=====================================-->
{% include 'sections/market-expert/market-expert.html' %}
<!--=====================================-->

<!--=====================================-->
<!--=        Footer Area Start       	=-->
<!--=====================================-->
{% include 'footer/footer-layout1.html' %}
<!--=        Footer Bottom Area Start       	=-->
<!--=====================================-->
{% include 'footer/footer-bottom.html' %} {% endblock %}
