{% extends 'app.html' %} {# Page Title #} {% block title %}Umart{% endblock %}
{# Custom Code In Head #} {% block header %}{% endblock %} {# Custom Code In
Footer #} {% block head %}{% endblock %} {# Body Class Add #} {% block attribute
%}class="sticky-header"{% endblock %} {% block content %}

<!--=====================================-->
<!--=        Header-top Area Start       	=-->
<!--=====================================-->
<!-- {% include 'header/header-top-layout1.html' %} -->
<!--=====================================-->
<!--=        Header Area Start       	=-->
<!--=====================================-->
{% include 'header/header-layout1.html' %}
<!--=====================================-->
<!--=        Banner Area Start       	=-->
<!--=====================================-->
{% include 'sections/banner/banner-layout1.html' %}
<!--=====================================-->
<!--=        About Area Start       	=-->
<!--=====================================-->
{% include 'sections/about/about.html' %}
<!--=        Service Area Start       	=-->
<!--=====================================-->
{% include 'sections/service/service.html' %}
<!--=====================================-->
<!--=       Recent-products Area Start  =-->
<!--=====================================-->
<!-- {% include 'sections/recent-products/recent-products-layout1.html' %} -->
<!--=====================================-->
<!--=       Load-more Area Start  =-->
<!--=====================================-->
<!-- {% include 'sections/load-more/load-more-layout1.html'
%}===================================== -->
<!--=       Call-to-action Area Start  =-->
<!--=====================================-->
<!-- {% include 'sections/call-to-action/call-to-action-layout1.html' %} -->
<!--=====================================-->
<!--=        Footer Area Start       	=-->
<!--=====================================-->
{% include 'footer/footer-layout1.html' %} {% endblock %}
