/*-------------------------
   products Styles
-------------------------*/


.umart-products-3{
   background-color: var(--color-secondary);
   .prducts-detail{
      margin-bottom: 45px;
      .detail-title{
         font-size: 18px;
         font-weight: 400;
         line-height: 22px;
         color: var(--color-title);
         margin-bottom: 10px;
      }
      ul{
         li{
            a{
               font-size: 14px;
               font-weight: 400;
               line-height: 22px;
               color: var(--color-icon);
               transition: var(--transition);
               &:hover{
                  color: var(--color-hover2);
               }
               .circle{
                  height: 16px;
                  width: 16px;
                  border-radius: 100%;
               }
               .color-1{
                  background-color: var(--product-color1);
               }
               .color-2{
                  background-color: var(--product-color2);
               }
               .color-3{
                  background-color: var(--product-color3);
               }
               .color-4{
                  background-color: var(--product-color4);
               }
               .color-5{
                  background-color: var(--product-color5);
               }
               .color-6{
                  height: 16px;
                  width: 16px;
                  background-color: var(--color-secondary);
                  border-radius: 100%;
                  border: 1px solid var(--product-border2);
               }
               .text{
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 22px;
                  color: var(--color-icon);
               }
            }
            .style-2{
               font-size: 14px;
               font-weight: 700;
               color: var(--color-secondary);
               background-color: var(--color-primary);
               padding: 0 10px;
               transition: var(--transition);
               border-radius: 20px;
               &:hover{
                  background-color: var(--color-hover2);
                  color: var(--color-secondary);
               }
            }
            .spacing{
               margin-bottom: 10px;
            }
         }
         .style{
            display: flex;
            gap: 10px;
            margin-bottom: 10px;
         }   
      }
      .spacing-2{
         display: flex;
         gap: 5px;
         margin-bottom: 8px; 
      }
   }
   .border-1{
      border: 1px solid var(--color-border);
      margin-bottom: 45px;
   }
   .big-wrap{
      .image-holder{
         margin-bottom: 20px;
      }
      .product-detail-wrap{
         .product-icon-wrap{
            justify-content: space-between;
            margin-bottom: 3.5px;
            display: flex;
            a{
               color: var(--color-icon);
            }
            .product-name{
               font-weight: 400px;
               line-height: 20px;
               color: var(--color-cloudy-grey);
               margin: 0;
            }
         }
         .product-price{
            .price{
               color: var(--color-cloudy-grey);
               font-weight: 700;
            }
         }
      }
   }
   .spacing{
      margin-bottom: 30px;
   }
}



